{
  "printWidth": 100,
  "semi": true,
  "singleQuote": false,
  "endOfLine": "auto",
  "trailingComma": "all",
  "overrides": [
    {
      "files": "workers/mls-container/*.jsonc",
      "options": {
        "trailingComma": "none"
      }
    }
  ]
}
